.grid-container.margin-top-8.about-company

    .grid-x.grid-padding-x

        .small-24.medium-6.cell
            .text-center.background-white
                img(src="./i/phone.png", alt="Горячая линия безопасности", width="279")
                p.about-company__hot-line Горячая линия
                    br
                    | безопасности
                p.about-company__phone 8-800-250-17-47
                p.about-company__free звонок бесплатный
                p.margin-bottom-10: a(href="mailto:etika@rosvodokanal.ru" title="Отправить письмо").about-company__email etika@rosvodokanal.ru
                hr

        .small-24.medium-12.cell
            .background-white
                .grid-x
                    .small-22.small-offset-2.cell.margin-top-15          
                        a.news-title.text-primary О компании 
                        hr.margin-top-1.margin-bottom-5
                        .grid-x
                            .small-20.cell.about-company__text
                                p Группа компаний «Росводоканал» — крупнейший российский частный оператор в водоснабжении и водоотведении. Под управлением «Росводоканала» работают семь региональных водоканалов России, обслуживающих свыше 5 млн потребителей в пяти федеральных округах...
                        .grid-x.margin-top-4
                            .small-12.cell
                                a(href="#" title="Читать интервью").interview__link Узнать больше 
                                    i.fa.fa-long-arrow-right
                            .small-12.cell.text-right
                                img(src="./i/15-years.png", alt="15 лет", width="").about-company__image
                hr

        .small-24.medium-6.cell.about-company__block-3
            .background-white
                img(src="./i/kp.png" alt="kp.ru" width="")
                .grid-x
                    .small-24.medium-20.medium-offset-4.cell
                        p.about-company__water «Доступная
                            br
                            | вода»
                        p.about-company__read 
                            a(href="#" title="Читать").about-company__link
                                i.fa.fa-angle-right.read-arrow 
                                span.margin-left-4 Читать
                hr

    