.grid-container.margin-top-8

    .grid-x.grid-padding-x

        .small-24.medium-6.cell.phone
            img(src="./i/phone.png", alt="Горячая линия безопасности")
            p.phone__hot-line Горячая линия
                br
                | безопасности
            p.phone__phone 8-800-250-17-47
            p.phone__free звонок бесплатный
            p: a(href="mailto:etika@rosvodokanal.ru" title="Отправить письмо").phone__email etika@rosvodokanal.ru
            hr

        .small-24.medium-9.medium-offset-1.cell.margin-top-15
            a.news-title.text-primary О компании 
                i.fa.fa-angle-right.news-title__arrow
            hr.margin-top-1.margin-bottom-5
            p Группа компаний «Росводоканал» — крупнейший российский частный оператор в водоснабжении и водоотведении. Под управлением «Росводоканала» работают семь региональных водоканалов России, обслуживающих свыше 5 млн потребителей в пяти федеральных округах...
            p.margin-top-4
                a(href="#" title="Читать интервью").interview__link Узнать больше 
                    i.fa.fa-long-arrow-right
            hr

        .small-24.medium-6.medium-offset-2.cell
            img(src="./i/kp.png" alt="kp.ru" width="")
            p.news-title.text-primary «Доступная вода»
            p 
                a(href="#" title="Читать").text-uppercase
                    i.fa.fa-angle-right.read-arrow 
                    span.margin-left-4 Читать
            hr

