div(style="background: url(./i/slider-background.png); height: 390px;")
    .grid-container: .grid-x.grid-padding-x: .small-24.cell
        .x-carousel-main.carousel-main
            .carousel-main__item
                .grid-x.grid-padding-x.carousel-main__content(style="background: url(./i/slide.png) no-repeat; height: 360px; background-size: cover;")
                    .small-24.medium-10.medium-offset-2.cell
                        h2.carousel-main__title 15-летний опыт
                        p.carousel-main__text 15-летний опыт управления водоканалами, использование синергетического эффекта для снижения стоимости услуг, квалифицированный персонал.
                        p: a.button.carousel-main__button Узнать больше
            .carousel-main__item
                .grid-x.grid-padding-x.carousel-main__content(style="background: url(./i/slide.png) no-repeat; height: 360px; background-size: cover;")
                    .small-24.medium-10.medium-offset-2.cell
                        h2.carousel-main__title 15-летний опыт
                        p.carousel-main__text 15-летний опыт управления водоканалами, использование синергетического эффекта для снижения стоимости услуг, квалифицированный персонал.
                        p: a.button.carousel-main__button Узнать больше
