.grid-x.grid-padding-x
    .small-24.medium-23.medium-offset-1.cell

        .grid-x.grid-padding-x
            .small-24.medium-12.cell.text-center.medium-text-left
                a(href="#", title="Вернуться к списку новостей").news-detail__back
                    img(src="./images/arrow-left.png", alt="Вернуться к списку новостей") 
                    span.margin-left-5 Вернуться к списку новостей
            .small-24.medium-12.cell.medium-text-right.text-center
                a(href="#", title="Версия для печати").news-detail__print Версия для печати