.grid-x.grid-padding-x
    .cell.medium-19.medium-offset-2.small-24.text-center.medium-text-left.padding-top-6

        h1 Мероприятия

include _filter-by-date




.margin-top-14

    .grid-x.grid-padding-x
        .small-24.medium-8.medium-offset-2.cell
            a: img(src="./i/event-1.png", alt="")
        .small-24.medium-12.cell
            p.margin-bottom-4
                span.news-date 20 ноября 2017
            a.section-news__link(href="#")
                h3 Городскому воронежскому водопроводу – 148 лет
                p Система водоснабжение Воронежа берет своё начало в 1869 году, когда городской голова Степан Лукьянович Кряжов решил потратить на «богоугодное дело» 150 тысяч рублей.

    .grid-x.grid-padding-x
        .cell.small-24.medium-20.medium-offset-2
            hr.margin-bottom-10

    .grid-x.grid-padding-x
        .small-24.medium-8.medium-offset-2.cell
            a: img(src="./i/event-2.png", alt="")
        .small-24.medium-12.cell
            p.margin-bottom-4
                span.news-date 22 ноября 2017
            a.section-news__link(href="#")
                h3 В Оренбурге поздравили ветеранов органов внутренних дел
                p В ООО «Оренбург Водоканал» прошло торжественное мероприятие, приуроченное к 100-летию празднования Дня сотрудника органов внутренних дел России.

    .grid-x.grid-padding-x
        .cell.small-24.medium-20.medium-offset-2
            hr.margin-bottom-10

    .grid-x.grid-padding-x
        .small-24.medium-8.medium-offset-2.cell
            a: img(src="./i/event-3.png", alt="")
        .small-24.medium-12.cell
            p.margin-bottom-4
                span.news-date 31 декабря 2017
            a.section-news__link(href="#")
                h3 Команда «ОмскВодоканала» завоевала «серебро» в экологической игре «Зеленый остров»
                p 27 октября молодые специалисты «Росводоканал Омск» приняли участие в интеллект-игре, посвящённой теме экологии. В борьбе за кубок победителя сошлись представители работающей молодёжи и общественных объединений города.

    .grid-x.grid-padding-x
        .cell.small-24.medium-20.medium-offset-2
            hr.margin-bottom-10

    .grid-x.grid-padding-x
        .small-24.medium-8.medium-offset-2.cell
            a: img(src="./i/event-4.png", alt="")
        .small-24.medium-12.cell
            p.margin-bottom-4
                span.news-date 24 декабря 2017
            a.section-news__link(href="#")
                h3 Сотрудник ООО «РВК-Воронеж» - лауреат областного фестиваля «Славим человека труда»
                p В Воронеже подвели итоги регионального фестиваля «Славим человека труда», который проводится в областном центре в рамках мероприятий, посвященных Дню профсоюзов.

    .grid-x.grid-padding-x
        .cell.small-24.medium-20.medium-offset-2
            hr.margin-bottom-10

    .grid-x.grid-padding-x
        .small-24.medium-8.medium-offset-2.cell
            a: img(src="./i/event-5.png", alt="")
        .small-24.medium-12.cell
            p.margin-bottom-4
                span.news-date 13 декабря 2017
            a.section-news__link(href="#")
                h3 «Росводоканал Оренбург» принял участие в благоустройстве города
                p Специалисты «Росводоканал Оренбург» ООО «Оренбург Водоканал» присоединились к традиционному осеннему месячнику благоустройства и озеленения областного центра.

    .grid-x.grid-padding-x
        .cell.small-24.medium-20.medium-offset-2
            hr.margin-bottom-10


ul.pagination.text-center.margin-top-2.margin-bottom-13
    li.pagination-previous.disabled Пред.
    li.current
        span.show-for-sr Вы на странице
        |  1
    li
        a(href='#' title='' aria-label='Page 2') 2
    li
        a(href='#' title='' aria-label='Page 3') 3
    li
        a(href='#' title='' aria-label='Page 4') 4
    li.ellipsis
    li
        a(href='#' title='' aria-label='Page 12') 12
    li
        a(href='#' title='' aria-label='Page 13') 13
    li.pagination-next
        a(href='#' title='' aria-label='Next page') След.

.hide-for-large

    .grid-x.grid-padding-x: .cell.text-center.padding-bottom-10
        a(title="Подписаться на рассылку").subscribe-link
            i.fa.fa-rss.margin-right-2 
            | Подписаться на рассылку


    .subscribe
        h3.subscribe__title Подписка
        p.subscribe__subtitle на рассылку новостей компании
        form(action="#")
            input(type="email" placeholder="Ваш email").subscribe__input
            label.subscribe__label Получать новости региона:
                select.subscribe__select 
                    option(value="" selected) Всех регионов
                    option(value="") Регион 1
                    option(value="") Регион 2
                    option(value="") Регион 3
            button(type="submit").button.subscribe__button.expanded#subscribe Подписаться
            label.subscribe__label-2
                .grid-x.grid-padding-x
                    .cell.shrink
                        input(type="checkbox").subscribe__checkbox#agree
                        .subscribe__checkbox-custom
                    .cell.auto
                                          
                        .subscribe__text Я ознакомлен и соглашаюсь с условиями использования
                            br
                            a(href="#" title="").subscribe__link персональных данных