a(data-toggle="news-band" title="").filter-date-link Искать за период

.news-band#news-band(data-toggler=".show-for-medium").show-for-medium

    span.news-band__span-1 Период с
    input(type="text", placeholder="__.__.__").news-band__input#datepicker

    span.news-band__span-2 по
    input(type="text", placeholder="__.__.__").news-band__input#datepicker-2