.grid-container
    .grid-x.grid-padding-x.medium-text-right.text-center
        .small-24.cell
            a(title="Наверх").button-up


.footer.text-medium-gray.background-white

    .grid-container: .grid-x.grid-padding-x

        .small-24.medium-8.cell

            p.footer__text Все права защищены и охраняются законом. 
                br
                | © 2008 – 2017 «Росводоканал»

        .small-24.medium-8.large-7.large-offset-1.cell.text-center.large-text-left
            a.text-medium-gray.social-network(href="#")
                i.fa-stack.fa-lg
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-youtube-play.fa-stack-1x.fa-inverse
            a.text-medium-gray.social-network(href="#")
                i.fa-stack.fa-lg
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-facebook.fa-stack-1x.fa-inverse
            a.text-medium-gray.social-network(href="#")
                i.fa-stack.fa-lg
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-instagram.fa-stack-1x.fa-inverse
            a.text-medium-gray.social-network(href="#")
                i.fa-stack.fa-lg
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-vk.fa-stack-1x.fa-inverse
            a.text-medium-gray.social-network(href="#")
                i.fa-stack.fa-lg
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-twitter.fa-stack-1x.fa-inverse

        .small-24.medium-8.cell

            p.footer__text.footer__text_margin Если вы нашли ошибку на сайте, пожалуйста, 
                br
                | сообщите о ней по адресу 
                a(href="mailto:pr@rosvodokanal.ru" title="Отправить письмо").text-primary pr@rosvodokanal.ru