include _slider-modal


.grid-x.grid-padding-x
    .cell.medium-19.medium-offset-2.small-24.text-center.medium-text-left.padding-top-6

        h1 Фотогалерея

.news-band
      
    span.news-band__span-1 Период с
    input(type="text", placeholder="__.__.__").news-band__input#datepicker

    span.news-band__span-2 по
    input(type="text", placeholder="__.__.__").news-band__input#datepicker-2

.grid-x.grid-padding-x.gallery.align-center

    .cell.medium-10
        p
            a(title="" data-open="gallery").js-gallery
                img(src="./i/gallery-1.png", alt="")
            .grid-x.grid-padding-x.gallery__block-date
                .cell.small-11.small-offset-2
                    span.text-white 03.12.17
                .cell.small-9.text-right
                    img(src="./images/quantity.png", alt="").margin-right-3
                    span.text-white 15
        p.gallery__text
            a(title="" data-open="gallery").gallery__link.js-gallery В «Росводоканал Оренбург» поздравили ветеранов органов внутренних дел

    .cell.medium-10
        p
            a(title="" data-open="gallery").js-gallery
                img(src="./i/gallery-2.png", alt="")
            .grid-x.grid-padding-x.gallery__block-date
                .cell.small-11.small-offset-2
                    span.text-white 09.12.17
                .cell.small-9.text-right
                    img(src="./images/quantity.png", alt="").margin-right-3
                    span.text-white 10
        p.gallery__text
            a(title="" data-open="gallery").gallery__link.js-gallery Команда «ОмскВодоканала» завоевала «серебро» в экологической игре «Зеленый остров»

.grid-x.grid-padding-x.gallery.align-center

    .cell.medium-10
        p
            a(title="" data-open="gallery").js-gallery
                img(src="./i/gallery-3.png", alt="")
            .grid-x.grid-padding-x.gallery__block-date
                .cell.small-11.small-offset-2
                    span.text-white 28.11.17
                .cell.small-9.text-right
                    img(src="./images/quantity.png", alt="").margin-right-3
                    span.text-white 9
        p.gallery__text
            a(title="" data-open="gallery").gallery__link.js-gallery Совет молодых специалистов «Росводоканал Оренбург» принял участие в форуме работающей молодёжи

    .cell.medium-10
        p
            a(title="" data-open="gallery").js-gallery
                img(src="./i/gallery-4.png", alt="")
            .grid-x.grid-padding-x.gallery__block-date
                .cell.small-11.small-offset-2
                    span.text-white 04.01.18
                .cell.small-9.text-right
                    img(src="./images/quantity.png", alt="").margin-right-3
                    span.text-white 12
        p.gallery__text
            a(title="" data-open="gallery").gallery__link.js-gallery Команда «ОмскВодоканала» завоевала «серебро» в экологической игре «Зеленый остров»

.grid-x.grid-padding-x.gallery.align-center

    .cell.medium-10
        p
            a(title="" data-open="gallery").js-gallery
                img(src="./i/gallery-5.png", alt="")
            .grid-x.grid-padding-x.gallery__block-date
                .cell.small-11.small-offset-2
                    span.text-white 28.11.17
                .cell.small-9.text-right
                    img(src="./images/quantity.png", alt="").margin-right-3
                    span.text-white 9
        p.gallery__text
            a(title="" data-open="gallery").gallery__link.js-gallery «Росводоканал» принял участие в IV Общероссийском форуме «Частные операторы коммунальной инфраструктуры»

    .cell.medium-10
        p
            a(title="" data-open="gallery").js-gallery
                img(src="./i/gallery-6.png", alt="")
            .grid-x.grid-padding-x.gallery__block-date
                .cell.small-11.small-offset-2
                    span.text-white 04.01.18
                .cell.small-9.text-right
                    img(src="./images/quantity.png", alt="").margin-right-3
                    span.text-white 12
        p.gallery__text
            a(title="" data-open="gallery").gallery__link.js-gallery Городскому воронежскому водопроводу – 148 лет

.grid-x.grid-padding-x.gallery.align-center

    .cell.medium-10
        p
            a(title="" data-open="gallery").js-gallery
                img(src="./i/gallery-7.png", alt="")
            .grid-x.grid-padding-x.gallery__block-date
                .cell.small-11.small-offset-2
                    span.text-white 08.02.18
                .cell.small-9.text-right
                    img(src="./images/quantity.png", alt="").margin-right-3
                    span.text-white 7
        p.gallery__text
            a(title="" data-open="gallery").gallery__link.js-gallery «Росводоканал Оренбург» принял участие в благоустройстве города

    .cell.medium-10
        p
            a(title="" data-open="gallery").js-gallery
                img(src="./i/gallery-8.png", alt="")
            .grid-x.grid-padding-x.gallery__block-date
                .cell.small-11.small-offset-2
                    span.text-white 16.03.18
                .cell.small-9.text-right
                    img(src="./images/quantity.png", alt="").margin-right-3
                    span.text-white 18
        p.gallery__text
            a(title="" data-open="gallery").gallery__link.js-gallery Городскому воронежскому водопроводу – 148 лет


include ../common/_pagination-2