.grid-x.grid-padding-x
    .cell.small-19.small-offset-2.padding-top-6

        h1 Фотогалерея

.news-band
      
    span Период с
    input(type="text", placeholder="__.__.__").news-band__input#datepicker

    span.margin-left-5 по
    input(type="text", placeholder="__.__.__").news-band__input#datepicker-2

.grid-x.grid-padding-x.gallery.align-center

    .cell.medium-10
        p
            a(href="" title="")
                img(src="./i/gallery-1.png", alt="")
            .grid-x.grid-padding-x.gallery__block-date
                .cell.small-11.small-offset-2
                    span.text-white 03.12.17
                .cell.small-9.text-right
                    img(src="./images/quantity.png", alt="").margin-right-3
                    span.text-white 15
        p.gallery__text
            a(href="" title="").gallery__link В «Росводоканал Оренбург» поздравили ветеранов органов внутренних дел

    .cell.medium-10
        p
            a(href="" title="")
                img(src="./i/gallery-2.png", alt="")
            .grid-x.grid-padding-x.gallery__block-date
                .cell.small-11.small-offset-2
                    span.text-white 09.12.17
                .cell.small-9.text-right
                    img(src="./images/quantity.png", alt="").margin-right-3
                    span.text-white 10
        p.gallery__text
            a(href="" title="").gallery__link Команда «ОмскВодоканала» завоевала «серебро» в экологической игре «Зеленый остров»

.grid-x.grid-padding-x.gallery.align-center

    .cell.medium-10
        p
            a(href="" title="")
                img(src="./i/gallery-1.png", alt="")
            .grid-x.grid-padding-x.gallery__block-date
                .cell.small-11.small-offset-2
                    span.text-white 03.12.17
                .cell.small-9.text-right
                    img(src="./images/quantity.png", alt="").margin-right-3
                    span.text-white 15
        p.gallery__text
            a(href="" title="").gallery__link В «Росводоканал Оренбург» поздравили ветеранов органов внутренних дел

    .cell.medium-10
        p
            a(href="" title="")
                img(src="./i/gallery-2.png", alt="")
            .grid-x.grid-padding-x.gallery__block-date
                .cell.small-11.small-offset-2
                    span.text-white 09.12.17
                .cell.small-9.text-right
                    img(src="./images/quantity.png", alt="").margin-right-3
                    span.text-white 10
        p.gallery__text
            a(href="" title="").gallery__link Команда «ОмскВодоканала» завоевала «серебро» в экологической игре «Зеленый остров»

.grid-x.grid-padding-x.gallery.align-center

    .cell.medium-10
        p
            a(href="" title="")
                img(src="./i/gallery-1.png", alt="")
            .grid-x.grid-padding-x.gallery__block-date
                .cell.small-11.small-offset-2
                    span.text-white 03.12.17
                .cell.small-9.text-right
                    img(src="./images/quantity.png", alt="").margin-right-3
                    span.text-white 15
        p.gallery__text
            a(href="" title="").gallery__link В «Росводоканал Оренбург» поздравили ветеранов органов внутренних дел

    .cell.medium-10
        p
            a(href="" title="")
                img(src="./i/gallery-2.png", alt="")
            .grid-x.grid-padding-x.gallery__block-date
                .cell.small-11.small-offset-2
                    span.text-white 09.12.17
                .cell.small-9.text-right
                    img(src="./images/quantity.png", alt="").margin-right-3
                    span.text-white 10
        p.gallery__text
            a(href="" title="").gallery__link Команда «ОмскВодоканала» завоевала «серебро» в экологической игре «Зеленый остров»

.grid-x.grid-padding-x.gallery.align-center

    .cell.medium-10
        p
            a(href="" title="")
                img(src="./i/gallery-1.png", alt="")
            .grid-x.grid-padding-x.gallery__block-date
                .cell.small-11.small-offset-2
                    span.text-white 03.12.17
                .cell.small-9.text-right
                    img(src="./images/quantity.png", alt="").margin-right-3
                    span.text-white 15
        p.gallery__text
            a(href="" title="").gallery__link В «Росводоканал Оренбург» поздравили ветеранов органов внутренних дел

    .cell.medium-10
        p
            a(href="" title="")
                img(src="./i/gallery-2.png", alt="")
            .grid-x.grid-padding-x.gallery__block-date
                .cell.small-11.small-offset-2
                    span.text-white 09.12.17
                .cell.small-9.text-right
                    img(src="./images/quantity.png", alt="").margin-right-3
                    span.text-white 10
        p.gallery__text
            a(href="" title="").gallery__link Команда «ОмскВодоканала» завоевала «серебро» в экологической игре «Зеленый остров»