.grid-container.margin-top-12(data-equalizer="interview").text-center.medium-text-left
    .grid-x.grid-padding-x
        .small-24.medium-12.cell.interview-wrapper
            a.news-title Интервью 
                i.fa.fa-angle-right.news-title__arrow
            .interview
                .grid-x.grid-padding-x
                    .small-24.medium-6.cell
                        img(src="./images/quotes.png", alt="Кавычки").interview__quot
                        img(src="./i/interview-1.png", alt="Интервью", width="100")
                    .small-24.medium-14.cell
                        p.interview__text(data-equalizer-watch="interview") «Потребитель не должен расплачиваться за проблемы неэффективного собственника».
                        p.interview__name Антон Михальков
                        p.interview__position Генеральный директор ГК «Росводоканал»
                        hr
                        p.margin-top-4
                            a(href="#" title="Читать интервью").interview__link Читать интервью 
                                i.fa.fa-long-arrow-right
            hr.margin-top-0
        .small-24.medium-12.cell.interview-wrapper
            a.news-title Компетентно 
                i.fa.fa-angle-right.news-title__arrow
            .interview
                .grid-x.grid-padding-x
                    .small-24.medium-6.cell
                        img(src="./images/quotes.png", alt="Кавычки").interview__quot
                        img(src="./i/interview-2.png", alt="Интервью", width="100")
                    .small-24.medium-14.cell
                        p.interview__text(data-equalizer-watch="interview") «Оставлять систему ЖКХ в том виде, в каком она существует сейчас, это значит усугублять процесс деградации ЖКХ как отрасли».
                        p.interview__name Дмитрий Николаевич Козак
                        p.interview__position Заместитель председателя правительства РФ
                        hr
                        p.margin-top-4
                            a(href="#" title="Читать интервью").interview__link Читать интервью 
                                i.fa.fa-long-arrow-right
            hr.margin-top-0
    .grid-x.grid-padding-x
        .small-24.cell
            hr.margin-top-8
