.grid-container 
    .grid-x.grid-padding-x: .small-24.cell
        h3.text-uppercase.margin-top-11 Основные показатели

    .grid-x.grid-padding-x.small-up-1.medium-up-3.large-up-5.x-main-factors

        .cell.x-main-factors__item
            .main-factors
                .main-factors__number 13,8
                .main-factors__text тыс. км
                p.main-factors__paragraph протяженность
                    br
                    | труб

        .cell.x-main-factors__item
            .main-factors
                .main-factors__number 5
                .main-factors__text млн. чел.
                p.main-factors__paragraph количество
                    br
                    | абонентов

        .cell.x-main-factors__item
            .main-factors
                .main-factors__number 23%
                .main-factors__text доля рынка
                p.main-factors__paragraph среди частных
                    br
                    | водоканалов

        .cell.x-main-factors__item
            .main-factors
                .main-factors__number 562
                .main-factors__text млн. м2
                p.main-factors__paragraph поданой воды
                    br
                    | ежегодно

        .cell.x-main-factors__item
            .main-factors
                .main-factors__number >10
                .main-factors__text тыс.
                p.main-factors__paragraph сотрудников

        .cell.x-main-factors__item
            .main-factors
                .main-factors__number 13,8
                .main-factors__text тыс. км
                p.main-factors__paragraph протяженность
                    br
                    | труб

        .cell.x-main-factors__item
            .main-factors
                .main-factors__number 5
                .main-factors__text млн. чел.
                p.main-factors__paragraph количество
                    br
                    | абонентов

        .cell.x-main-factors__item
            .main-factors
                .main-factors__number 23%
                .main-factors__text доля рынка
                p.main-factors__paragraph среди частных
                    br
                    | водоканалов

        .cell.x-main-factors__item
            .main-factors
                .main-factors__number 562
                .main-factors__text млн. м2
                p.main-factors__paragraph поданой воды
                    br
                    | ежегодно

        .cell.x-main-factors__item
            .main-factors
                .main-factors__number >10
                .main-factors__text тыс.
                p.main-factors__paragraph сотрудников

    .grid-x.grid-padding-x: .small-24.cell
        hr.margin-top-0
        