.menu-mobile#menu(data-toggler=".hide").hide
    .menu-mobile__white
        a.menu-mobile__close
            img(src="./images/close-menu.png", alt="")
        form.search-top.input-group
            input.search-top__input.input-group-field(placeholder="Поиск", type="text").menu-mobile__search                
            .input-group-button.input-group-button_background.menu-mobile__input-icon
                button.search-top__button.fa.fa-search(type="submit")
            
        button.close-button(data-close aria-label="Close modal" type="button").hide
            span(aria-hidden="true").close-button__span &times;
        
        
        ul.vertical.menu.accordion-menu(data-accordion-menu).dropdown-menu
            li 
                a(href="#").dropdown-menu__link О компании
                ul.menu.vertical.nested
                    li 
                        a(href="#").dropdown-menu__link-nested История компании
                        
                    li
                        a(href="#").dropdown-menu__link-nested Структура компании
                    li
                        a(href="#").dropdown-menu__link-nested Руководство
                        ul.menu.vertical.nested.dropdown-menu__nested
                            li 
                                a(href="#").text-black Правление
                            li 
                                a(href="#").text-primary Менеджмент
                            li 
                                a(href="#").text-black Управляющий комитет
                    li
                        a(href="#").dropdown-menu__link-nested Ключевые показатели
                    li
                        a(href="#").dropdown-menu__link-nested Нормативно-правовая база
                    li
                        a(href="#").dropdown-menu__link-nested Приоритетные направления деятельности
                        ul.menu.vertical.nested.dropdown-menu__nested
                            li 
                                a(href="#").text-black Пункт 1
                            li 
                                a(href="#").text-black Пункт 2
                            li 
                                a(href="#").text-black Пункт 3
                    li
                        a(href="#").dropdown-menu__link-nested Кадровая политика
                        ul.menu.vertical.nested.dropdown-menu__nested
                            li 
                                a(href="#").text-black Пункт 1
                            li 
                                a(href="#").text-black Пункт 2
                            li 
                                a(href="#").text-black Пункт 3
                    li
                        a(href="#").dropdown-menu__link-nested Социальное развитие
                    li
                        a(href="#").dropdown-menu__link-nested Противодействие коррупции
                    li
                        a(href="#").dropdown-menu__link-nested Раскрытие информации
                        
            li 
                a(href="#").dropdown-menu__link Потребителям
            li 
                a(href="#").dropdown-menu__link Регионы присутствия
            li
                a(href="#").dropdown-menu__link Пресс-центр
            li
                a(href="#").dropdown-menu__link Закупки
            li
                a(href="#").dropdown-menu__link Инвестиции
            li
                a(href="#").dropdown-menu__link Контакты


        .padding-4
            a(href="tel:+74955140211").header-phone +7 (495) 514-02-11
        .padding-left-4
            a.text-medium-gray.social-network(href="#")
                i.fa-stack.fa-lg
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-youtube-play.fa-stack-1x.fa-inverse
            a.text-medium-gray.social-network(href="#")
                i.fa-stack.fa-lg
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-facebook.fa-stack-1x.fa-inverse
            a.text-medium-gray.social-network(href="#")
                i.fa-stack.fa-lg
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-instagram.fa-stack-1x.fa-inverse
            a.text-medium-gray.social-network(href="#")
                i.fa-stack.fa-lg
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-vk.fa-stack-1x.fa-inverse
            a.text-medium-gray.social-network(href="#")
                i.fa-stack.fa-lg
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-twitter.fa-stack-1x.fa-inverse
.overlay.hide