.padding-top-9.padding-bottom-12(data-equalizer="title")
    .grid-container: .grid-x.grid-padding-x(data-equalizer="text")
        .small-24.medium-8.cell
            .news
                a.news-title(href="#") Новости

                a(href="#").event__link
                    .grid-x.grid-padding-x.margin-top-3
                        .small-5.medium-24.large-4.cell
                            .news-date 18 ноя
                        .small-19.medium-24.large-19.cell
                            | «Росводоканал Оренбург» подключил к сетям новостройку на улице Алтайской
                            hr

                a(href="#").event__link
                    .grid-x.grid-padding-x.margin-top-3
                        .small-5.medium-24.large-4.cell
                            .news-date 19 ноя
                        .small-19.medium-24.large-19.cell
                            | Команда юристов «Росводоканала» признана лучшим юридическим департаментом
                            hr

                a(href="#").event__link
                    .grid-x.grid-padding-x.margin-top-3
                        .small-5.medium-24.large-4.cell
                            .news-date 20 ноя
                        .small-19.medium-24.large-19.cell
                            | «Росводоканал Воронеж» завершил капитальный ремонт сетей в Коминтерновском районе
                            hr

                a(href="#").event__link
                    .grid-x.grid-padding-x.margin-top-3
                        .small-5.medium-24.large-4.cell
                            .news-date 21 ноя
                        .small-19.medium-24.large-19.cell
                            | Городскому воронежскому водопроводу – 148 лет
                            hr

                a(href="#").event__link
                    .grid-x.grid-padding-x.margin-top-3
                        .small-5.medium-24.large-4.cell
                            .news-date 22 дек
                        .small-19.medium-24.large-19.cell
                            | Совет молодых специалистов «Росводоканал Оренбург» принял участие в форуме работающей молодёжи
                            hr

                a(href="#").event__link
                    .grid-x.grid-padding-x.margin-top-3
                        .small-5.medium-24.large-4.cell
                            .news-date 26 дек
                        .small-19.medium-24.large-19.cell
                            | В «Росводоканал Оренбург» поздравили ветеранов
                            hr

                .grid-x.grid-padding-x
                    .large-20.large-offset-4.cell.margin-top-5
                        a(href="#" title="Подписаться на рассылку").subscribe-link
                            i.fa.fa-rss.margin-right-2
                            | Подписаться на рассылку

        .small-24.medium-8.cell.event
            p.margin-bottom-3
                a.news-title(href="#") Мероприятия 
               
            .x-carousel-events.carousel-events

                .carousel-events__item
                    p
                        a(href="#" title="Читать подробнее")
                            img(src="./i/event.png", alt="Совет молодых специалистов «Росводоканал Оренбург» принял участие в форуме работающей молодёжи", width="100%")
                    .grid-x
                        .small-24.medium-18.medium-offset-2.cell
                            a(href="#").event__link                    
                                p.margin-bottom-2.event__title(data-equalizer-watch="title")
                                    | Совет молодых специалистов «Росводоканал Оренбург» принял участие в форуме работающей молодёжи
                                p.event__text(data-equalizer-watch="text") 
                                    | Представители совета молодых специалистов ООО «Оренбург Водоканал» стали участниками форума работающей молодёжи.

                .carousel-events__item
                    p
                        a(href="#" title="Читать подробнее")
                            img(src="./i/event.png", alt="Совет молодых специалистов «Росводоканал Оренбург» принял участие в форуме работающей молодёжи", width="100%")
                    .grid-x
                        .small-24.medium-18.medium-offset-2.cell
                            a(href="#").event__link                    
                                p.margin-bottom-2.event__title(data-equalizer-watch="title")
                                    | Совет молодых специалистов «Росводоканал Оренбург» принял участие в форуме работающей молодёжи
                                p.event__text(data-equalizer-watch="text")
                                    | Представители совета молодых специалистов ООО «Оренбург Водоканал» стали участниками форума работающей молодёжи.
            

        .small-24.medium-8.cell.event
            p.margin-bottom-3
                a.news-title(href="#") Видео 
                
            .x-carousel-events.carousel-events

                .carousel-events__item
                    p
                        a(href="#" title="Смотреть видео")
                            img(src="./i/video.png", alt="Завершен капитальный ремонт крупного объекта коммунальной инфраструктуры в Воронеже", width="100%")
                    .grid-x
                        .small-24.medium-18.medium-offset-2.cell
                            a(href="#").event__link                     
                                p.margin-bottom-2.event__title(data-equalizer-watch="title")
                                    | Завершен капитальный ремонт крупного объекта коммунальной инфраструктуры в Воронеже
                                p.event__text(data-equalizer-watch="text") 
                                    | «Росводоканал Воронеж» завершил капитальный ремонт сетей в Коминтерновском районе

                .carousel-events__item
                    p
                        a(href="#" title="Смотреть видео")
                            img(src="./i/video.png", alt="Завершен капитальный ремонт крупного объекта коммунальной инфраструктуры в Воронеже", width="100%")
                    .grid-x
                        .small-24.medium-18.medium-offset-2.cell
                            a(href="#").event__link                     
                                p.margin-bottom-2.event__title(data-equalizer-watch="title")
                                    | Завершен капитальный ремонт крупного объекта коммунальной инфраструктуры в Воронеже
                                p.event__text(data-equalizer-watch="text") 
                                    | «Росводоканал Воронеж» завершил капитальный ремонт сетей в Коминтерновском районе
            

            