.grid-container: .grid-x.grid-padding-x.event.background-white.region-news
    .small-24.medium-7.medium-offset-2.cell.align-self-middle
        a.news-title.text-primary В регионах 
            i.fa.fa-angle-right.news-title__arrow
        hr.margin-top-1.margin-bottom-7
        .x-carousel-events

            .carousel-events__item
                p.margin-bottom-4: a(href="#" title="Читать подробнее").event__title «Росводоканал Оренбург» подключил к сетям новостройку на улице Алтайской
                p.news-date.margin-bottom-3 18.11.2017
                p.event__text Специалисты ООО «Оренбург Водоканал» завершили работы по подключению нового 17-этажного жилого дома на улице Алтайской.

            .carousel-events__item
                p.margin-bottom-4: a(href="#" title="Читать подробнее").event__title «Росводоканал Оренбург» подключил к сетям новостройку на улице Алтайской
                p.news-date.margin-bottom-3 18.11.2017
                p.event__text Специалисты ООО «Оренбург Водоканал» завершили работы по подключению нового 17-этажного жилого дома на улице Алтайской.

    .small-15.cell.text-right.show-for-medium.region-news__map
        .grid-x.grid-padding-x.align-right
            .small-10.cell
                a(href="#", title="Регионы присутствия").region-news__link
                    .grid-x.grid-padding-x.align-middle
                        .cell.small-6
                            span.region-news__number 7
                        .cell.small-12.text-left
                            span.region-news__text регионов присутствия
                        .cell.small-6.text-left
                            img(src="./images/arrow-map.png", alt="")

.grid-container: .grid-x.grid-padding-x: .small-24.cell
    hr.margin-top-0