ul
    li: a(href='corp-index.html' title='' target='_blank') Главная
    li: a(href='corp-regular.html' title='' target='_blank') Рядовая
    li: a(href='corp-search-nothing.html' title='' target='_blank') Результаты поиска (ничего не найдено)
    li: a(href='corp-search.html' title='' target='_blank') Результаты поиска
    li: a(href='corp-error.html' title='' target='_blank') Страница ошибки
    li: a(href='corp-news.html' title='' target='_blank') Новости компании
    li: a(href='corp-news-detail.html' title='' target='_blank') Страница новости
    li: a(href='corp-events.html' title='' target='_blank') Мероприятия
    li: a(href='corp-events-detail.html' title='' target='_blank') Мероприятие (детальная страница)
    li: a(href='corp-gallery.html' title='' target='_blank') Фотогалерея
    li: a(href='corp-video.html' title='' target='_blank') Видео
    li: a(href='corp-map.html' title='' target='_blank') Регионы присутствия 
