.reveal.reveal_slider#gallery(data-reveal)

    button.close-button.close-button_modal(data-close aria-label="Close modal" type="button")
        span(aria-hidden="true")
            img(src="./images/close-modal.png", alt="")

    .reveal__block

        h3.reveal__title В «Росводоканал Оренбург» поздравили ветеранов органов внутренних дел

        .slider-for-modal.margin-top-8
            .slider-for-modal__item
                img(src="./i/modal-image.png", alt="")
                span.slider-for-modal__count 1/15
                .slider-for-modal__text
                    | Водозабор позволит увеличить объемы поднимаемой воды с 30 до 100 тысяч кубических метров в сутки (50% потребности воды всего города).
            .slider-for-modal__item
                img(src="./i/modal-image.png", alt="")
                span.slider-for-modal__count 1/15
                .slider-for-modal__text
                    | Водозабор позволит увеличить объемы поднимаемой воды с 30 до 100 тысяч кубических метров в сутки (50% потребности воды всего города).
            .slider-for-modal__item
                img(src="./i/modal-image.png", alt="")
                span.slider-for-modal__count 1/15
                .slider-for-modal__text
                    | Водозабор позволит увеличить объемы поднимаемой воды с 30 до 100 тысяч кубических метров в сутки (50% потребности воды всего города).
            .slider-for-modal__item
                img(src="./i/modal-image.png", alt="")
                span.slider-for-modal__count 1/15
                .slider-for-modal__text
                    | Водозабор позволит увеличить объемы поднимаемой воды с 30 до 100 тысяч кубических метров в сутки (50% потребности воды всего города).
            .slider-for-modal__item
                img(src="./i/modal-image.png", alt="")
                span.slider-for-modal__count 1/15
                .slider-for-modal__text
                    | Водозабор позволит увеличить объемы поднимаемой воды с 30 до 100 тысяч кубических метров в сутки (50% потребности воды всего города).
            .slider-for-modal__item
                img(src="./i/modal-image.png", alt="")
                span.slider-for-modal__count 1/15
                .slider-for-modal__text
                    | Водозабор позволит увеличить объемы поднимаемой воды с 30 до 100 тысяч кубических метров в сутки (50% потребности воды всего города).
            .slider-for-modal__item
                img(src="./i/modal-image.png", alt="")
                span.slider-for-modal__count 1/15
                .slider-for-modal__text
                    | Водозабор позволит увеличить объемы поднимаемой воды с 30 до 100 тысяч кубических метров в сутки (50% потребности воды всего города).
            .slider-for-modal__item
                img(src="./i/modal-image.png", alt="")
                span.slider-for-modal__count 1/15
                .slider-for-modal__text
                    | Водозабор позволит увеличить объемы поднимаемой воды с 30 до 100 тысяч кубических метров в сутки (50% потребности воды всего города).
            .slider-for-modal__item
                img(src="./i/modal-image.png", alt="")
                span.slider-for-modal__count 1/15
                .slider-for-modal__text
                    | Водозабор позволит увеличить объемы поднимаемой воды с 30 до 100 тысяч кубических метров в сутки (50% потребности воды всего города).
            .slider-for-modal__item
                img(src="./i/modal-image.png", alt="")
                span.slider-for-modal__count 1/15
                .slider-for-modal__text
                    | Водозабор позволит увеличить объемы поднимаемой воды с 30 до 100 тысяч кубических метров в сутки (50% потребности воды всего города).

        .slider-nav-modal
            .slider-nav-modal__item
                img(src="./i/modal-image.png", alt="")
            .slider-nav-modal__item
                img(src="./i/modal-image.png", alt="")
            .slider-nav-modal__item
                img(src="./i/modal-image.png", alt="")
            .slider-nav-modal__item
                img(src="./i/modal-image.png", alt="")
            .slider-nav-modal__item
                img(src="./i/modal-image.png", alt="")
            .slider-nav-modal__item
                img(src="./i/modal-image.png", alt="")
            .slider-nav-modal__item
                img(src="./i/modal-image.png", alt="")
            .slider-nav-modal__item
                img(src="./i/modal-image.png", alt="")
            .slider-nav-modal__item
                img(src="./i/modal-image.png", alt="")
            .slider-nav-modal__item
                img(src="./i/modal-image.png", alt="")
