.padding-top-4.padding-bottom-3.background-white
    .grid-container: .grid-x.grid-padding-x.align-middle
        .small-12.medium-7.cell
            img(src="./images/logo.png", alt="Лого")
        .small-7.cell.show-for-medium
            form.search-top.input-group                
                .input-group-button.input-group-button_background
                    button.search-top__button.fa.fa-search(type="submit")
                input.search-top__input.input-group-field(placeholder="Поиск", type="text")
        .small-5.cell.text-right.show-for-medium
            a.text-medium-gray.social-network
                i.fa-stack.fa-lg
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-youtube-play.fa-stack-1x.fa-inverse
            a.text-medium-gray.social-network
                i.fa-stack.fa-lg
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-facebook.fa-stack-1x.fa-inverse
            a.text-medium-gray.social-network
                i.fa-stack.fa-lg
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-instagram.fa-stack-1x.fa-inverse
            a.text-medium-gray.social-network
                i.fa-stack.fa-lg
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-vk.fa-stack-1x.fa-inverse
            a.text-medium-gray.social-network
                i.fa-stack.fa-lg
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-twitter.fa-stack-1x.fa-inverse
        .small-5.cell.text-right.show-for-medium
            a(href="tel:+74955140211").header-phone +7 (495) 514-02-11 
        .small-12.cell.text-right
            a(href="#" title="Меню")
                img(src="./images/menu.png", alt="Меню")      