include _video-modal


.grid-x.grid-padding-x
    .cell.medium-19.medium-offset-2.small-24.text-center.medium-text-left.padding-top-6

        h1 Видео

include _filter-by-date

.grid-x.grid-padding-x.gallery.align-center.video

    .cell.medium-10
        p.video__item(style="background: url(./i/gallery-1.png) no-repeat 50%;")
            a(title="" data-open="gallery").js-gallery
                img(src="./images/play.png", alt="").video__image
            .grid-x.grid-padding-x.gallery__block-date
                .cell.small-11.small-offset-2
                    span.text-white 03.12.17
                .cell.small-9.text-right
                    i.fa.fa-play.gallery__play
                    span.text-white 01:54
        p.gallery__text
            a(title="" data-open="gallery").gallery__link.js-gallery В «Росводоканал Оренбург» поздравили ветеранов органов внутренних дел

    .cell.medium-10
        p.video__item(style="background: url(./i/gallery-2.png) no-repeat 50%;")
            a(title="" data-open="gallery").js-gallery
                img(src="./images/play.png", alt="").video__image
            .grid-x.grid-padding-x.gallery__block-date
                .cell.small-11.small-offset-2
                    span.text-white 09.12.17
                .cell.small-9.text-right
                    i.fa.fa-play.gallery__play
                    span.text-white 01:54
        p.gallery__text
            a(title="" data-open="gallery").gallery__link.js-gallery Команда «ОмскВодоканала» завоевала «серебро» в экологической игре «Зеленый остров»

.grid-x.grid-padding-x.gallery.align-center

    .cell.medium-10
        p.video__item(style="background: url(./i/gallery-3.png) no-repeat 50%;")
            a(title="" data-open="gallery").js-gallery
                img(src="./images/play.png", alt="").video__image
            .grid-x.grid-padding-x.gallery__block-date
                .cell.small-11.small-offset-2
                    span.text-white 28.11.17
                .cell.small-9.text-right
                    i.fa.fa-play.gallery__play
                    span.text-white 01:54
        p.gallery__text
            a(title="" data-open="gallery").gallery__link.js-gallery Совет молодых специалистов «Росводоканал Оренбург» принял участие в форуме работающей молодёжи

    .cell.medium-10
        p.video__item(style="background: url(./i/gallery-4.png) no-repeat 50%;")
            a(title="" data-open="gallery").js-gallery
                img(src="./images/play.png", alt="").video__image
            .grid-x.grid-padding-x.gallery__block-date
                .cell.small-11.small-offset-2
                    span.text-white 04.01.18
                .cell.small-9.text-right
                    i.fa.fa-play.gallery__play
                    span.text-white 01:54
        p.gallery__text
            a(title="" data-open="gallery").gallery__link.js-gallery Команда «ОмскВодоканала» завоевала «серебро» в экологической игре «Зеленый остров»

.grid-x.grid-padding-x.gallery.align-center

    .cell.medium-10
        p.video__item(style="background: url(./i/gallery-5.png) no-repeat 50%;")
            a(title="" data-open="gallery").js-gallery
                img(src="./images/play.png", alt="").video__image
            .grid-x.grid-padding-x.gallery__block-date
                .cell.small-11.small-offset-2
                    span.text-white 28.11.17
                .cell.small-9.text-right
                    i.fa.fa-play.gallery__play
                    span.text-white 01:54
        p.gallery__text
            a(title="" data-open="gallery").gallery__link.js-gallery «Росводоканал» принял участие в IV Общероссийском форуме «Частные операторы коммунальной инфраструктуры»

    .cell.medium-10
        p.video__item(style="background: url(./i/gallery-6.png) no-repeat 50%;")
            a(title="" data-open="gallery").js-gallery
                img(src="./images/play.png", alt="").video__image
            .grid-x.grid-padding-x.gallery__block-date
                .cell.small-11.small-offset-2
                    span.text-white 04.01.18
                .cell.small-9.text-right
                    i.fa.fa-play.gallery__play
                    span.text-white 01:54
        p.gallery__text
            a(title="" data-open="gallery").gallery__link.js-gallery Городскому воронежскому водопроводу – 148 лет

.grid-x.grid-padding-x.gallery.align-center

    .cell.medium-10
        p.video__item(style="background: url(./i/gallery-7.png) no-repeat 50%;")
            a(title="" data-open="gallery").js-gallery
                img(src="./images/play.png", alt="").video__image
            .grid-x.grid-padding-x.gallery__block-date
                .cell.small-11.small-offset-2
                    span.text-white 08.02.18
                .cell.small-9.text-right
                    i.fa.fa-play.gallery__play
                    span.text-white 01:54
        p.gallery__text
            a(title="" data-open="gallery").gallery__link.js-gallery «Росводоканал Оренбург» принял участие в благоустройстве города

    .cell.medium-10
        p.video__item(style="background: url(./i/gallery-8.png) no-repeat 50%;")
            a(title="" data-open="gallery").js-gallery
                img(src="./images/play.png", alt="").video__image
            .grid-x.grid-padding-x.gallery__block-date
                .cell.small-11.small-offset-2
                    span.text-white 16.03.18
                .cell.small-9.text-right
                    i.fa.fa-play.gallery__play
                    span.text-white 01:54
        p.gallery__text
            a(title="" data-open="gallery").gallery__link.js-gallery Городскому воронежскому водопроводу – 148 лет


include ../common/_pagination-2

.hide-for-large

    .grid-x.grid-padding-x: .cell.text-center.padding-bottom-10
        a(title="Подписаться на рассылку").subscribe-link
            i.fa.fa-rss.margin-right-2 
            | Подписаться на рассылку


    .subscribe
        h3.subscribe__title Подписка
        p.subscribe__subtitle на рассылку новостей компании
        form(action="#")
            input(type="email" placeholder="Ваш email").subscribe__input
            label.subscribe__label Получать новости региона:
                select.subscribe__select 
                    option(value="" selected) Всех регионов
                    option(value="") Регион 1
                    option(value="") Регион 2
                    option(value="") Регион 3
            button(type="submit").button.subscribe__button.expanded#subscribe Подписаться
            label.subscribe__label-2
                .grid-x.grid-padding-x
                    .cell.shrink
                        input(type="checkbox").subscribe__checkbox#agree
                        .subscribe__checkbox-custom
                    .cell.auto
                                          
                        .subscribe__text Я ознакомлен и соглашаюсь с условиями использования
                            br
                            a(href="#" title="").subscribe__link персональных данных