doctype html
html.no-js(lang='ru')
    include components/service/_head
    body
        include components/corporate/_top-line

        include components/corporate/_header
        

        block page
            include components/corporate/_carousel-main
            include components/corporate/_news
            include components/corporate/_region-news
            include components/corporate/_main-factors
            include components/corporate/_interview
            include components/corporate/_about-company
            include components/corporate/_footer
     

    
        include components/service/_js
