extends corp-regular
block content
    .grid-container.search-results
        .grid-container.margin-top-10: .grid-x.grid-padding-x: .cell.small-24.medium-22.medium-offset-2
            h1 Результаты поиска
        .padding-bottom-6
            .grid-container: .grid-x.grid-padding-x: .cell.small-24.medium-22.medium-offset-2
                include components/common/_search-2
