extends corp-index

block page
    include components/common/_breadcrumbs
    block content       
        .padding-top-6.padding-bottom-6
            .grid-container: .grid-x.grid-padding-x
                .cell.small-24.medium-6
                    include components/common/_sidebar
                .cell.small-24.medium-18.background-white.content
                    .grid-x.grid-padding-x
                        .small-18.small-offset-2.padding-top-7
                            include components/common/_text
