extends corp-index

block page
    include components/common/_breadcrumbs
    block content
        .background-map
            a.background-map__city.background-map__city_1
            span Росводоканал Тверь

        .grid-container.content: .grid-x.grid-padding-x.align-center
            .medium-21.cell

                ul.accordion.accordion-map(data-accordion data-allow-all-closed="true")

                    li.accordion-item(data-accordion-item)
                        a(href="").accordion-title Росводоканал Воронеж
                        .accordion-content(data-tab-content)
                            p Текст


                    li.accordion-item.is-active(data-accordion-item)
                        a(href="").accordion-title Тверь Росводоканал
                        .accordion-content.accordion-map__content(data-tab-content)
                            h2.accordion-map__h2 Тверь Росводоканал
                            
                            .grid-x.grid-padding-x

                                .medium-12.cell
                                    h3 История
                                    p 
                                        span.accordion-map__date 1865 
                                        | — первый тверской водопровод;
                                    p
                                        span.accordion-map__date 1901 
                                        | — запущена первая водозаборная скважина;
                                    p 
                                        span.accordion-map__date 2007 
                                        | — начало работы под управлением ГК «Росводоканал»

                                .medium-12.cell
                                    h3 Успехи компании
                                    p.accordion-map__text
                                        span.accordion-map__date 2013 
                                        | — Призер (2 место) регионального этапа Всероссийского конкурса «Российская организация высокой социальной эффективности в 2013» в номинации «За развитие кадрового потенциала в организациях производственной сферы».
                            
                            .accordion-map__background-gray
                                .grid-x.grid-padding-x

                                    .medium-8.cell
                                        .accordion-map__border
                                            h4.accordion-map__h4 Количество потребителей
                                            p.accordion-map__statistics 1 032 000                                   
                                            p.accordion-map__span человек
                                            p.accordion-map__statistics.margin-top-11 8 500
                                            p.accordion-map__span юр. лиц

                                    .medium-8.cell
                                        .accordion-map__border
                                            h4.accordion-map__h4 Протяженность сетей, км
                                            p.accordion-map__statistics 1 300                                   
                                            p.accordion-map__span водопровод
                                            p.accordion-map__statistics.margin-top-11 930
                                            p.accordion-map__span канализация

                                    .medium-8.cell
                                        h4.accordion-map__h4 Подача воды в сеть, тыс. м3/год
                                        p.accordion-map__statistics 120 000                                   
                                    

                            hr.margin-top-12

                            h2.margin-top-8 Тарифы

                            .filters
                                a(href="" title="").filters__link.filters__link_active Правобережная часть
                                a(href="" title="").filters__link Левобережная часть
                            

                            .grid-x.grid-padding-x
                                .cell.medium-12
                                    h4.accordion-map__rates Для населения
                                    .accordion-map__border-2
                                        .grid-x.grid-padding-x
                                            .cell.small-12
                                                .accordion-map__border
                                                    p.accordion-map__statistics.text-black 23,59 ₽                                  
                                                    p.accordion-map__span водоснабжение (м3)
                                            .cell.small-12
                                                p.accordion-map__statistics.text-black 14,10 ₽                                  
                                                p.accordion-map__span водоотведение (м3)
                                .cell.medium-12
                                    h4.accordion-map__rates Для юридических лиц (без НДС)
                                    .accordion-map__border-2
                                        .grid-x.grid-padding-x
                                            .cell.small-12
                                                .accordion-map__border
                                                    p.accordion-map__statistics.text-black 1 300 ₽                                  
                                                    p.accordion-map__span водоснабжение (м3)
                                            .cell.small-12
                                                p.accordion-map__statistics.text-black 11,95 ₽                                  
                                                p.accordion-map__span водоотведение (м3)

                            hr.margin-top-12
                            h2.margin-top-8 Контакты
                            .grid-x.grid-padding-x.contacts
                                .cell.medium-6
                                    p
                                        a(href="" title="Капустин Дмитрий Петрович")
                                            img(src="./i/name-2.png", alt="Капустин Дмитрий Петрович")
                                    h6.margin-bottom-4
                                        a(href="" title="Капустин Дмитрий Петрович").section-news__link Капустин Дмитрий 
                                            br
                                            | Петрович
                                    p.content__position-2 Генеральный директор ООО «Тверь Водоканал»
                                .cell.medium-6
                                    p.contacts__title Адрес
                                    p.contacts__text-bold 170008, г.Тверь, 
                                        br
                                        | ул. 15 лет Октября, д.7
                                    p: a(href="https://tvervodokanal.ru/" title="" target="_blank").contacts__link tvervodokanal.ru
                                .cell.medium-6
                                    p.contacts__title Колл-центр
                                    p.contacts__phone (4822) 62-01-02
                                    p.contacts__phone.margin-bottom-3 (4822) 48-11-00
                                    p.contacts__work-schedule 8:00 - 20:00 ежедневно, 
                                        br
                                        | без выходных
                                .cell.medium-6
                                    p.contacts__title Приемная
                                    p.contacts__phone (4822) 58-83-16
                                    p.contacts__work-schedule 8:00 - 17:00 в рабочие дни

                    li.accordion-item(data-accordion-item)
                        a(href="").accordion-title Росводоканал Краснодар
                        .accordion-content(data-tab-content)
                            p Текст

                    li.accordion-item(data-accordion-item)
                        a(href="").accordion-title Росводоканал Оренбург
                        .accordion-content(data-tab-content)
                            p Текст

                    li.accordion-item(data-accordion-item)
                        a(href="").accordion-title Росводоканал Тюмень
                        .accordion-content(data-tab-content)
                            p Текст

                    li.accordion-item(data-accordion-item)
                        a(href="").accordion-title Росводоканал Омск
                        .accordion-content(data-tab-content)
                            p Текст

                    li.accordion-item(data-accordion-item)
                        a(href="").accordion-title Росводоканал Барнаул
                        .accordion-content(data-tab-content)
                            p Текст
             
