extends corp-index

block page
    include components/common/_breadcrumbs
    block content       
        .padding-top-6
            .grid-container: .grid-x.grid-padding-x
                .cell.small-24.medium-6
                    include components/common/_sidebar-events
                .cell.small-24.medium-17.background-white.content.background-event                
                    include components/corporate/_event
