extends corp-index

block page
    include components/common/_breadcrumbs
    block content
        .background-map
            a.background-map__city.background-map__city_1
            span Росводоканал Тверь