.background-breadcrumbs
    .grid-container: .grid-x.grid-padding-x: .cell
        ul.breadcrumbs
            li
                a(href='#' title='').breadcrumbs__link Главная
                i.fa.fa-chevron-right.breadcrumbs__arrow
            li
                a(href='#' title='').breadcrumbs__link О компании
                i.fa.fa-chevron-right.breadcrumbs__arrow
            li
                a(href='#' title='').breadcrumbs__link Руководство
                i.fa.fa-chevron-right.breadcrumbs__arrow
            li.current
                a(href='#' title='').breadcrumbs__link Менеджмент