.grid-x.grid-padding-x
    .cell.small-19.small-offset-2.padding-top-6

        h1 Новости компании

.news-band

   
      
    span Период с
    input(type="text", placeholder="__.__.__").news-band__input#datepicker

    span.margin-left-5 по
    input(type="text", placeholder="__.__.__").news-band__input#datepicker-2

    span.news-band__region Регион:
    input(type="text", placeholder="Барнаул, Ворон...").news-band__input-2


.grid-x.grid-padding-x
   .cell.small-19.small-offset-2

        p
            span.news-date 20 ноября 2017
            a.news-detail__city Воронеж

        h3: a.section-news__link «Росводоканал» принял участие в IV Общероссийском форуме «Частные операторы коммунальной инфраструктуры»

        p Перспективы ГЧП в ЖКХ обсудили ведущие российские эксперты, представители власти, руководители компаний-операторов, банкиры и инвесторы.

        hr

        p
            span.news-date 20 ноября 2017
            a.news-detail__city Воронеж

        h3: a.section-news__link «Росводоканал» принял участие в IV Общероссийском форуме «Частные операторы коммунальной инфраструктуры»

        p Перспективы ГЧП в ЖКХ обсудили ведущие российские эксперты, представители власти, руководители компаний-операторов, банкиры и инвесторы.

        hr

        p
            span.news-date 20 ноября 2017
            a.news-detail__city Воронеж

        h3: a.section-news__link «Росводоканал» принял участие в IV Общероссийском форуме «Частные операторы коммунальной инфраструктуры»

        p Перспективы ГЧП в ЖКХ обсудили ведущие российские эксперты, представители власти, руководители компаний-операторов, банкиры и инвесторы.

        hr

        p
            span.news-date 20 ноября 2017
            a.news-detail__city Воронеж

        h3: a.section-news__link «Росводоканал» принял участие в IV Общероссийском форуме «Частные операторы коммунальной инфраструктуры»

        p Перспективы ГЧП в ЖКХ обсудили ведущие российские эксперты, представители власти, руководители компаний-операторов, банкиры и инвесторы.

        hr

        p
            span.news-date 20 ноября 2017
            a.news-detail__city Воронеж

        h3: a.section-news__link «Росводоканал» принял участие в IV Общероссийском форуме «Частные операторы коммунальной инфраструктуры»

        p Перспективы ГЧП в ЖКХ обсудили ведущие российские эксперты, представители власти, руководители компаний-операторов, банкиры и инвесторы.

        hr