.quote
    .grid-x.grid-padding-x
        .small-24.medium-5.cell
            img(src="./images/quotes.png", alt="Кавычки").quote__quote
            img(src="./i/interview-1.png", alt="Интервью", width="100")
        .small-24.medium-19.cell
            p.quote__text «...только развитие государственного-частного партнерства способно улучшить ситуацию в жилищно-коммунальном хозяйстве».
            p.quote__name Антон Михальков
            p.quote__position Генеральный директор ГК «Росводоканал»