form(action='#' method='get')
    .grid-x.grid-padding-x
        .small-24.medium-20.cell
            label: input(type='text', placeholder='Водопровод').page-error__input.margin-bottom-3
        .small-24.medium-2.cell
            input.button.page-error__button.page-error__button_search(type='submit', value='').margin-bottom-0
    .grid-x.grid-padding-x
        .small-22.cell
            p.search-results__sort Сортировать результаты поиска: 
                a.button.search-results__button.search-results__button_active(href="#", title="") По дате
                a.button.search-results__button(href="#", title="") По релевантности
            hr

            h4.search-results__title
                a(href="#", title="Городскому воронежскому водопроводу – 148 лет") Городскому воронежскому водопроводу – 148 лет
            p.search-results__text В ООО «Оренбург Водоканал» 
                span.search-results__word водопровод
                |  прошло торжественное мероприятие, приуроченное к 100-летию празднования Дня сотрудника органов внутренних дел России. Работников компании, ранее проходивших 
                span.search-results__word водопровод
                |  службу в милиции и полиции, поздравили начальник межмуниципального управления МВД России «Оренбургское» Александр Ныров, его заместители – Олег Чернявский и Игорь...
            p.margin-bottom-0
                span.news-date 20.11.2017                 
                a(href='#' title='').fa.fa-home.search-results__link 
                i.fa.fa-chevron-right.search-results__arrow
            
                a(href='#' title='').search-results__link Раздел 
                i.fa.fa-chevron-right.search-results__arrow
          
                a(href='#' title='').search-results__link Подраздел

            hr.margin-top-2

            h4.search-results__title
                a(href="#", title="Городскому воронежскому водопроводу – 148 лет") Городскому воронежскому водопроводу – 148 лет
            p.search-results__text В ООО «Оренбург Водоканал» 
                span.search-results__word водопровод
                |  прошло торжественное мероприятие, приуроченное к 100-летию празднования Дня сотрудника органов внутренних дел России. Работников компании, ранее проходивших 
                span.search-results__word водопровод
                |  службу в милиции и полиции, поздравили начальник межмуниципального управления МВД России «Оренбургское» Александр Ныров, его заместители – Олег Чернявский и Игорь...
            p.margin-bottom-0
                span.news-date 20.11.2017                 
                a(href='#' title='').fa.fa-home.search-results__link 
                i.fa.fa-chevron-right.search-results__arrow
            
                a(href='#' title='').search-results__link Раздел 
                i.fa.fa-chevron-right.search-results__arrow
          
                a(href='#' title='').search-results__link Подраздел

            hr.margin-top-2

            h4.search-results__title
                a(href="#", title="Городскому воронежскому водопроводу – 148 лет") Городскому воронежскому водопроводу – 148 лет
            p.search-results__text В ООО «Оренбург Водоканал» 
                span.search-results__word водопровод
                |  прошло торжественное мероприятие, приуроченное к 100-летию празднования Дня сотрудника органов внутренних дел России. Работников компании, ранее проходивших 
                span.search-results__word водопровод
                |  службу в милиции и полиции, поздравили начальник межмуниципального управления МВД России «Оренбургское» Александр Ныров, его заместители – Олег Чернявский и Игорь...
            p.margin-bottom-0
                span.news-date 20.11.2017                 
                a(href='#' title='').fa.fa-home.search-results__link 
                i.fa.fa-chevron-right.search-results__arrow
            
                a(href='#' title='').search-results__link Раздел 
                i.fa.fa-chevron-right.search-results__arrow
          
                a(href='#' title='').search-results__link Подраздел

            hr.margin-top-2

            h4.search-results__title
                a(href="#", title="Городскому воронежскому водопроводу – 148 лет") Городскому воронежскому водопроводу – 148 лет
            p.search-results__text В ООО «Оренбург Водоканал» 
                span.search-results__word водопровод
                |  прошло торжественное мероприятие, приуроченное к 100-летию празднования Дня сотрудника органов внутренних дел России. Работников компании, ранее проходивших 
                span.search-results__word водопровод
                |  службу в милиции и полиции, поздравили начальник межмуниципального управления МВД России «Оренбургское» Александр Ныров, его заместители – Олег Чернявский и Игорь...
            p.margin-bottom-0
                span.news-date 20.11.2017                 
                a(href='#' title='').fa.fa-home.search-results__link 
                i.fa.fa-chevron-right.search-results__arrow
            
                a(href='#' title='').search-results__link Раздел 
                i.fa.fa-chevron-right.search-results__arrow
          
                a(href='#' title='').search-results__link Подраздел

            hr.margin-top-2

            h4.search-results__title
                a(href="#", title="Городскому воронежскому водопроводу – 148 лет") Городскому воронежскому водопроводу – 148 лет
            p.search-results__text В ООО «Оренбург Водоканал» 
                span.search-results__word водопровод
                |  прошло торжественное мероприятие, приуроченное к 100-летию празднования Дня сотрудника органов внутренних дел России. Работников компании, ранее проходивших 
                span.search-results__word водопровод
                |  службу в милиции и полиции, поздравили начальник межмуниципального управления МВД России «Оренбургское» Александр Ныров, его заместители – Олег Чернявский и Игорь...
            p.margin-bottom-0
                span.news-date 20.11.2017                 
                a(href='#' title='').fa.fa-home.search-results__link 
                i.fa.fa-chevron-right.search-results__arrow
            
                a(href='#' title='').search-results__link Раздел 
                i.fa.fa-chevron-right.search-results__arrow
          
                a(href='#' title='').search-results__link Подраздел

include _pagination