form(action='#' method='get')
    .grid-x.grid-padding-x
        .small-24.medium-20.cell
            label: input(type='text', placeholder='Водопровод').page-error__input.margin-bottom-3
        .small-24.medium-2.cell
            input.button.page-error__button(type='submit', value='').margin-bottom-0
    .grid-x.grid-padding-x
        .small-24.cell
            p.search-results__sort Сортировать результаты поиска: 
                a.button.search-results__button.search-results__button_active(href="#", title="") По дате
                a.button.search-results__button(href="#", title="") По релевантности
            hr

            h4.search-results__title Городскому воронежскому водопроводу – 148 лет
            p.search-results__text В ООО «Оренбург Водоканал» 
                span.search-results__word водопровод
                |  прошло торжественное мероприятие, приуроченное к 100-летию празднования Дня сотрудника органов внутренних дел России. Работников компании, ранее проходивших 
                span.search-results__word водопровод
                |  службу в милиции и полиции, поздравили начальник межмуниципального управления МВД России «Оренбургское» Александр Ныров, его заместители – Олег Чернявский и Игорь ... Горшков, заместитель генерального директора по безопасности ООО УК «Росводоканал» Андрей Фомин. 
            p
                span.news-date 20.11.2017                   
                a(href='#' title='').fa.fa-home.breadcrumbs__link
                i.fa.fa-chevron-right.breadcrumbs__arrow
            
                a(href='#' title='').breadcrumbs__link Раздел
                i.fa.fa-chevron-right.breadcrumbs__arrow
          
                a(href='#' title='').breadcrumbs__link Подраздел
                i.fa.fa-chevron-right.breadcrumbs__arrow
                    
