form(action='#' method='get')
    .grid-x.grid-padding-x
        .small-24.medium-20.cell
            label: input(type='text', placeholder='Djljghjdjl').page-error__input.margin-bottom-3
        .small-24.medium-2.cell
            input.button.page-error__button(type='submit', value='').margin-bottom-0
    .grid-x.grid-padding-x
        .small-24.cell
            p.search-results__sort Сортировать результаты поиска: 
                a.button.search-results__button.search-results__button_active(href="#", title="") По дате
                a.button.search-results__button(href="#", title="") По релевантности
            hr
            p.search-results__nothing По запросу “
                span.text-primary Djljghjdjl 
                | ” ничего не найдено

