.margin-bottom-6.show-for-small-only(data-responsive-toggle='menu-left', data-hide-for='medium')
    span.button.light-gray.expanded(data-toggle)
        i.fa.fa-lg.fa-bars
        | &nbsp;Навигация
.background-white#menu-left
    ul.left-menu
        li: a(href='#' title='').left-menu__link История компании
        li: a(href='#' title='').left-menu__link Структура компании
        li
            a(href='#' title='').left-menu__link.left-menu__link_selected Руководство
                i.fa.fa-caret-down.left-menu__arrow.left-menu__arrow_active
            ul.left-menu__dropdown
                li: a(href="#" title='').left-menu__dropdown-link Правление
                li: a(href="#" title='').left-menu__dropdown-link.left-menu__dropdown-link_selected Менеджмент
                li: a(href="#" title='').left-menu__dropdown-link Управляющий комитет
        li: a(href='#' title='').left-menu__link Ключевые показатели
        li: a(href='#' title='').left-menu__link Нормативно-правовая база
        li: a(href='#' title='').left-menu__link Приоритетные направления деятельности
        li: a(href='#' title='').left-menu__link Кадровая политика
        li: a(href='#' title='').left-menu__link Социальное развитие
        li: a(href='#' title='').left-menu__link Противодействие коррупции
        li: a(href='#' title='').left-menu__link Раскрытие информации

.text-center.background-white
    img(src="./i/phone.png", alt="Горячая линия безопасности", width="279")
    p.about-company__hot-line Горячая линия
        br
        | безопасности
    p.about-company__phone 8-800-250-17-47
    p.about-company__free звонок бесплатный
    p.margin-bottom-10: a(href="mailto:etika@rosvodokanal.ru" title="Отправить письмо").about-company__email etika@rosvodokanal.ru
    hr

.subscribe
    h3.subscribe__title Подписка
    p.subscribe__subtitle на рассылку новостей компании
    form(action="")
        input(type="email" placeholder="Ваш email").subscribe__input
        label.subscribe__label Получать новости региона:
            select.subscribe__select 
                option(value="" selected) Всех регионов
                option(value="") Регион 1
                option(value="") Регион 2
                option(value="") Регион 3
        button(type="submit").button.subscribe__button.expanded Подписаться
        label.subscribe__label-2
            input(type="checkbox").subscribe__checkbox
            | Я ознакомлен и соглашаюсь с условиями использования
            br
            a(href="#" title="").subscribe__link персональных данных