.margin-bottom-6.show-for-small-only(data-responsive-toggle='menu-left', data-hide-for='medium')
    span.button.light-gray.expanded(data-toggle)
        i.fa.fa-lg.fa-bars
        | &nbsp;Навигация
.background-white#menu-left
    ul.left-menu
        li: a(href='#' title='').left-menu__link Новости компании
        li: a(href='#' title='').left-menu__link Новости отрасли
        li: a(href='#' title='').left-menu__link.left-menu__link_selected Мероприятия
        li: a(href='#' title='').left-menu__link Газета «Росводоканал»
        li: a(href='#' title='').left-menu__link СМИ о нас
        li: a(href='#' title='').left-menu__link Фотогалерея
        li: a(href='#' title='').left-menu__link Видео
        li: a(href='#' title='').left-menu__link «Доступная вода»
        li: a(href='#' title='').left-menu__link Контакты для СМИ

include _subscribe