.margin-bottom-6.show-for-small-only(data-responsive-toggle='menu-left', data-hide-for='medium')
    span.button.light-gray.expanded(data-toggle)
        i.fa.fa-lg.fa-bars
        | &nbsp;Навигация
.background-white#menu-left
    ul.left-menu
        li: a(href='#' title='').left-menu__link История компании
        li: a(href='#' title='').left-menu__link Структура компании
        li: a(href='#' title='').left-menu__link Руководство
        li: a(href='#' title='').left-menu__link Ключевые показатели
        li: a(href='#' title='').left-menu__link Нормативно-правовая база
        li: a(href='#' title='').left-menu__link Приоритетные напрвления деятельности
        li: a(href='#' title='').left-menu__link Кадровая политика
        li: a(href='#' title='').left-menu__link Социальное развитие
        li: a(href='#' title='').left-menu__link Противодействие коррупции
        li: a(href='#' title='').left-menu__link Раскрытие информации