.subscribe
    h3.subscribe__title Подписка
    p.subscribe__subtitle на рассылку новостей компании
    form(action="")
        input(type="email" placeholder="Ваш email").subscribe__input
        label.subscribe__label Получать новости региона:
            select.subscribe__select 
                option(value="" selected) Всех регионов
                option(value="") Регион 1
                option(value="") Регион 2
                option(value="") Регион 3
        button(type="submit").button.subscribe__button.expanded Подписаться
        label.subscribe__label-2
            input(type="checkbox").subscribe__checkbox
            .subscribe__checkbox-custom
            .subscribe__text Я ознакомлен и соглашаюсь с условиями использования
                br
                a(href="#" title="").subscribe__link персональных данных