.grid-x.grid-padding-x
    .small-24.medium-12.cell.text-center.medium-text-left
        a(href="#", title="Вернуться к списку новостей").news-detail__back
            img(src="./images/arrow-left.png", alt="Вернуться к списку новостей") 
            span.margin-left-5 Вернуться к списку новостей
    .small-24.medium-12.cell.medium-text-right.text-center
        a(href="#", title="Версия для печати").news-detail__print Версия для печати

h1.margin-top-5.margin-bottom-9 «Росводоканал» принял участие в IV Общероссийском форуме «Частные операторы коммунальной инфраструктуры»

p.margin-bottom-9
    span.news-date 20 ноября 2017 
    a.news-detail__city Воронеж

p.margin-bottom-3
    img(src="./i/news-detail-image.png", alt="«Росводоканал» принял участие в IV Общероссийском форуме «Частные операторы коммунальной инфраструктуры»")

p.news-detail__anons В пленарной сессии, посвященной типовым решениям ГЧП в ЖКХ, участники обсуждали механизмы федеральной поддержки коммунальных концессий в водо- и теплоснабжении.

hr

p.margin-top-7.font-size-18
    strong В минувшую среду в столице прошел отраслевой форум, посвященный проблематике поддержки национального жилищно-коммунального хозяйства. Площадка собрала для обсуждения перспектив государственно-частного партнерства (ГЧП) в ЖКХ ведущих российских экспертов, представителей власти, руководителей компаний-операторов, банкиров и инвесторов.

p В пленарной сессии, посвященной типовым решениям ГЧП в ЖКХ, участники обсуждали механизмы федеральной поддержки коммунальных концессий в водо- и теплоснабжении. Модератором сессии выступил исполнительный директор ПАО Сбербанк Виктор Афонин. Со стороны частного бизнеса в мероприятии приняли участие руководители Группы компаний «Росводоканал», которая является ведущим частным оператором отрасли водоснабжения и водоотведения. Федеральная власть была представлена заместителем министра строительства и ЖКХ РФ Андреем Чибисом, региональная – делегатами руководства Самарской, Новосибирской и Вологодской областей. Экспертное сообщество делегировало на форум руководителя Ассоциации «ЖКХ и городская среда» Алексея Макрушина и исполнительного директора РАВВ Елену Довлатову.

include _quote

p Выступая на пленарном заседании, генеральный директор Группы компаний «Росводоканал» Антон Михальков отметил, что на сегодняшний день наиболее эффективные механизмы развития национального ЖКХ предоставляет только формат государственно-частного партнерства.

p «Очевидно, что региональные и муниципальные власти движутся к пониманию того, что только развитие государственно-частного партнерства &mdash; в виде заключения концессионных соглашений с добросовестными частными и профессиональными операторами &mdash; способно улучшить ситуацию в жилищно-коммунальном хозяйстве российских регионов. А мы, в свою очередь, постоянно работаем над повышением качества и спектра услуг, которые предоставляем населению», &mdash; рассказал Антон Михальков.

h2 Кто главный в коммунальной концессии?

p Директор департамента по работе с регуляторными рисками, анализу и обобщению судебной практики ООО УК «Росводоканал» Антон Чертов принял участие в дебатах «Кто главный в коммунальной концессии?», где представители Фонда содействия реформированию ЖКХ, органов исполнительной власти субъектов РФ, профессиональных объединений, юридические и финансовые консультанты обсуждали вопросы подготовки концессионных соглашений в ЖКХ и баланса интересов сторон. 

p «Благодаря вхождению субъекта РФ в качестве самостоятельной стороны концессионного соглашения, существенно повысился уровень подготовки проектов. Для развития коммунальных концессий необходима активизация участия Российской Федерации в реализации концессионных соглашений путем предоставления финансовой поддержки и в обеспечении исполнения единой государственной политики по продвижению коммунальных концессий, в том числе при регулировании тарифов концессионеров», &mdash; отметил Антон Чертов. 

p Темпы роста частных инвестиций в ЖКХ России по итогам 2016 года составили +6%, а объем частных обязательств по проектам ГЧП в сфере городского хозяйства и ЖКХ превысил 460 млрд рублей - такие позитивные данные привел замглавы Минстроя Андрей Чибис в рамках пленарной сессии. По мнению ведомства, следующим шагом в развитии отрасли станет рост платежной дисциплины и введение эталонных тарифов.

.grid-x.grid-margin-x.margin-top-16
    .small-24.large-12.cell
        .news-detail__border
            a(href="#", title="Предыдущая новость").news-detail__back
                img(src="./images/arrow-left.png", alt="Предыдущая новость") 
                span.margin-left-5 Предыдущая новость
    .small-24.large-12.cell
        .news-detail__border
            a(href="#", title="Следующая новость").news-detail__back
                span Следующая новость
                img(src="./images/arrow-right.png", alt="Следующая новость").margin-left-5

hr.margin-top-11.margin-bottom-2

.text-center.text-dark-gray
    p.margin-bottom-1 Поделиться в соц сетях:

    a(href="" title="Facebook"): img(src="./images/facebook.png", alt="Facebook")
    a(href="" title="ВКонтакте"): img(src="./images/vk.png", alt="ВКонтакте").margin-left-3
    a(href="" title="Twitter"): img(src="./images/twitter.png", alt="Twitter").margin-left-3
            
