h1 H1. Заголовок первого уровня 
    br
    | вторая строчка

p Группа компаний 
    strong «Росводоканал» 
    | - крупнейший российский 
    a(href="#" title="Частный оператор") частный оператор
    |  в сфере водоснабжения и водоотведения. Штаб-квартира компании расположена в Москве. Новейшая история «Росводоканала» началась в 2003 году, когда компания стала преемником треста «Оргводоканал», образованного в 1949 году. Трест разрабатывал проекты и управлял строительством систем водоснабжения, канализации и очистки сточных вод по всей стране. Цель компании – развить водную инфраструктуру городов и обеспечить качественной питьевой водой население, а также обеспечить качественную очистку стоков.

p Предприятия Группы ежегодно подают в сеть около 580 млн кубических метров воды и принимают на очистку 520 млн кубических метров стоков. На долю ГК «Росводоканал» приходится 14,9 тыс. км сетей водоснабжения и водоотведения. В компании трудится около 10 тысяч человек.

h2 H2. Заголовок второго уровня 
    br
    | вторая строчка

p Под управлением «Росводоканала» работают семь региональных водоканалов России, обслуживающих свыше 5 млн потребителей в пяти федеральных округах, городах-миллионниках и крупных промышленных центрах: Омске, Воронеже, Тюмени, Краснодаре, Оренбурге, Барнауле и Твери. «Росводоканал» управляет инфраструктурой на основе долгосрочной аренды и концессии. Договор концессии подписан с властями Воронежа. В остальных регионах действуют договоры аренды сроком от 1 года до 49 лет.

p Михаил Мень, руководитель министерства строительства и ЖКХ РФ, назвал концессионный опыт Воронежа ярким примером успешного ГЧП в сфере ЖКХ. Такое заявление глава Минстроя сделал 27 июня 2014 года, находясь с визитом в столице Черноземья.

h3 H3. Заголовок третьего уровня 
    br
    | вторая строчка

p Стратегические планы компании предполагают дальнейшее расширение бизнеса и выход в новые регионы страны.

p По состоянию на конец 2014 года «Росводоканал» занимает более 5% российского рынка водоснабжения и водоотведения и 24% рынка ВСВО, обслуживаемого частными операторами.

h4 H4. Заголовок четвертого уровня 
    br
    | вторая строчка

p «Росводоканал» является одним из лидеров отрасли ЖКХ России по объему привлеченных средств на развитие систем водоснабжения регионов. Общий объем инвестиционных программ, выполняемых до 2016 года, составляет около 20 млрд рублей. В рамках этого финансирования реализуются крупные инвестиционные проекты в Краснодаре, Тюмени, Твери, Барнауле, Омске, Оренбурге, Воронеже. Компания является также инициатором и оператором уникального для России крупномасштабного проекта, реализуемого на средства Международного банка реконструкции и развития: реконструкция Южно-Уральского водозабора стоимостью 1,19 млрд рублей. Водозабор позволит увеличить объемы поднимаемой воды с 30 до 100 тысяч кубических метров в сутки (50% потребности воды всего города), внедрить современные системы очистки и построить сооружения, гарантирующие более рациональное использование вод реки Урал.

p.content__image-right
    img(src="./i/2018.png", alt="2018", width="100%")

p 16 ноября 2011 года Европейский банк реконструкции и развития (ЕБРР) и группа компаний «Росводоканал» подписали кредитное соглашение о предоставлении 1,5 млрд рублей. Первый вице-президент ЕБРР Варел Фримен сообщил, что это уже второе соглашение: первый кредит ЕБРР в размере 1,5 млрд рублей компания привлекла в 2008 году. Таким образом, общий объем кредитных средств, предоставленных ЕБРР «Росводоканалу», составил 3 млрд рублей. Эти деньги направлены на модернизацию инфраструктуры в городах присутствия (Тюмень, Оренбург, Барнаул, Тверь, Омск, Краснодар, Воронеж).

p Сегодня «Росводоканал» является одним из основных партнеров российских властей в деле модернизации отрасли посредствам ГЧП. Компания использует современные знания и технические решения при эксплуатации систем. Имеющиеся в арсенале передовые технологии позволяют предприятиям повысить собственную эффективность и качество воды. Инновационные инженерные решения привлекательны для финансирования со стороны федеральных программ. Формат государственно-частного партнерства, в котором «Росводоканал» осуществляет свою деятельность совместно с администрациями регионов, позволяет ему создавать самые эффективные в России водохозяйственные компании.

ul
    li Росводоканал Тверь
    li Росводоканал Воронеж
        ul
            li Росводоканал Краснодар
            li Росводоканал Оренбург
            li Росводоканал Тюмень
    li Росводоканал Краснодар
    li Росводоканал Оренбург

p В 2009 году ГК «Росводоканал» стала одним из учредителей НСВ— Национального союза водоканалов — некоммерческой структуры, способствующей внедрению эффективных моделей по управлению воднокоммунальным хозяйством.

ol
    li Росводоканал Тверь
    li Росводоканал Воронеж
        ol
            li Росводоканал Краснодар
            li Росводоканал Оренбург
            li Росводоканал Тюмень
    li Росводоканал Краснодар
    li Росводоканал Оренбург

p «Росводоканал» является одним из лидеров отрасли ЖКХ России по объему привлеченных средств на развитие систем водоснабжения регионов. Общий объем инвестиционных программ, выполняемых до 2016 года, составляет около 20 млрд рублей. В рамках этого финансирования реализуются крупные инвестиционные проекты в Краснодаре, Тюмени, Твери, Барнауле, Омске, Оренбурге, Воронеже. 

p.content__important-text Компания является также инициатором и оператором уникального для России крупномасштабного проекта, реализуемого на средства Международного банка реконструкции и развития: реконструкция Южно-Уральского водозабора стоимостью 1,19 млрд рублей.

p Водозабор позволит увеличить объемы поднимаемой воды с 30 до 100 тысяч кубических метров в сутки (50% потребности воды всего города), внедрить современные системы очистки и построить сооружения, гарантирующие более рациональное использование вод реки Урал.

p Предприятия Группы ежегодно подают в сеть около 580 млн кубических метров воды и принимают на очистку 520 млн кубических метров стоков. На долю ГК «Росводоканал» приходится 14,9 тыс. км сетей водоснабжения и водоотведения. В компании трудится около 10 тысяч человек.

p Под управлением «Росводоканала» работают семь региональных водоканалов России, обслуживающих свыше 5 млн потребителей в пяти федеральных округах, городах-миллионниках и крупных промышленных центрах: Омске, Воронеже, Тюмени, Краснодаре, Оренбурге, Барнауле и Твери. «Росводоканал» управляет инфраструктурой на основе долгосрочной аренды и концессии. Договор концессии подписан с властями Воронежа. В остальных регионах действуют договоры аренды сроком от 1 года до 49 лет. Михаил Мень, руководитель министерства строительства и ЖКХ РФ, назвал концессионный опыт Воронежа ярким примером успешного ГЧП в сфере ЖКХ. Такое заявление глава Минстроя сделал 27 июня 2014 года, находясь с визитом в столице Черноземья.

p Стратегические планы компании предполагают дальнейшее расширение бизнеса и выход в новые регионы страны.

p По состоянию на конец 2014 года «Росводоканал» занимает более 5% российского рынка водоснабжения и водоотведения и 24% рынка ВСВО, обслуживаемого частными операторами.

p «Росводоканал» является одним из лидеров отрасли ЖКХ России по объему привлеченных средств на развитие систем водоснабжения регионов. Общий объем инвестиционных программ, выполняемых до 2016 года, составляет около 20 млрд рублей. В рамках этого финансирования реализуются крупные инвестиционные проекты в Краснодаре, Тюмени, Твери, Барнауле, Омске, Оренбурге, Воронеже. Компания является также инициатором и оператором уникального для России крупномасштабного проекта, реализуемого на средства Международного банка реконструкции и развития: реконструкция Южно-Уральского водозабора стоимостью 1,19 млрд рублей. Водозабор позволит увеличить объемы поднимаемой воды с 30 до 100 тысяч кубических метров в сутки (50% потребности воды всего города).

