.content ul.accordion {
    list-style-image: none;
    margin: 0;
}

.content a.accordion-title {
    color: #000;
    text-decoration: none;
    background: #eff4f8;
    border: 1px solid #bccfda;
    border-radius: 2px;
}

.content a.accordion-title:hover{
    background: #d0ecff;
}

.is-active > a.accordion-title, .is-active > a.accordion-title:hover {
    background: #1074b9;
    border: 1px solid #1074b9;
    color: #fff;
}

.accordion-title::before {
    content: url(../images/accordion-arrow-down.png);
}

.is-active>.accordion-title::before {
    content: url(../images/accordion-arrow-up.png);
}

.accordion-content p {
    margin-bottom: 0;
}