.button-up {
    background: url(../images/arrow-up.png) no-repeat right;
    height: rem-calc(40);
    display: none;
    position: relative;
    left: 5.5rem;
    bottom: 3rem;
    width: rem-calc(40);
    float: right;
}

.button-up:hover {
    background: url(../images/arrow-up-hover.png) no-repeat right;
}

@include breakpoint(medium down) {
    .button-up {
        top: 2rem;
        left: 0;
        bottom: 0;
        background-position: center;
        float: none;
        margin: 0 auto;
    }
    .button-up:hover {
        background-position: center;
    }
}