table {
  margin-bottom: 6 * $global-margin;
}

.button {
  border: 1px solid #fff;
  letter-spacing: rem-calc(1);
}

.font-size-13 {
  font-size: rem-calc(13);
}

.font-size-14 {
  font-size: rem-calc(14);
}

.font-size-16 {
  font-size: rem-calc(16);
}

.content p.font-size-18 {
  font-size: rem-calc(18);
}

a.text-primary, p.text-primary {
  color: #077cce;
}

h3, h4 {
  font-weight: bold;
}

a:focus, .reveal:focus {
  outline: none;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}
 
input:focus::-moz-placeholder {
  color: transparent;
}
 
input:focus:-moz-placeholder {
  color: transparent;
}
 
input:focus:-ms-input-placeholder {
  color: transparent;
}