.content p {
    font-size: rem-calc(15);
    line-height: rem-calc(25);
    margin-bottom: rem-calc(18);
}

.content a {
    color: #077cce;
    text-decoration: underline;
}

.content a:hover {
    text-decoration: none;
}

.content li {
    font-size: rem-calc(15);
    list-style-type: none;
    padding-left: rem-calc(6);
    margin-bottom: rem-calc(14);
}

.content ul {
    list-style-image: url(../images/marker.png);
    margin: rem-calc(41 34);
}

.content ul > li > ul, ol > li > ol {
    margin: rem-calc(15 38);
}

.content ol {
    list-style-type: none; 
    counter-reset: num;
}

.content ol li:before {
    content: counter(num) '. ';
    counter-increment: num;
    color: #077cce;
}

.content__important-text {
    font-weight: bold;
    background: #d0ecff;
    padding: rem-calc(36 38);
}

.content__image-right {
    float: right;
    margin-left: rem-calc(20);
}

.content__right-block {
    border: 3px solid #d0ecff;
    padding: rem-calc(26 36);
    float: right;
    width: 22rem;
    margin-left: rem-calc(10);
}

.content__right-block p {
    font-weight: bold;
    font-size: rem-calc(18);
    line-height: rem-calc(27);
    margin-bottom: rem-calc(32);
}

.content__right-block a {
    text-transform: uppercase;
    text-decoration: none;
    color: #617e8e;
}

.content__right-block a:hover {
    .read-arrow {
        color: #fff;
        background: #8198a5;
    }
}

.content__left-block {
    float: left;
    margin-right: rem-calc(19);
    border-bottom: 1px solid #e1e9ee;
    margin-bottom: rem-calc(20);
}

.content p.content__name {
    font-size: rem-calc(14);
    color: #077cce;
    margin-bottom: rem-calc(-6);
    font-weight: bold;
}

.content p.content__position {
    font-size: rem-calc(13);
    margin-bottom: rem-calc(8);
}

.content p.content__left-block-image {
    margin-bottom: rem-calc(10);
}