.content p {
    font-size: rem-calc(15);
    line-height: rem-calc(25);
    margin-bottom: rem-calc(18);
}

.content a {
    color: #077cce;
    text-decoration: underline;
}

.content a:hover {
    text-decoration: none;
}

.content li {
    font-size: rem-calc(15);
    list-style-type: none;
    padding-left: rem-calc(6);
    margin-bottom: rem-calc(14);
}

.content ul {
    list-style-image: url(../images/marker.png);
    margin: rem-calc(41 34);
}

.content ul > li > ul, ol > li > ol {
    margin: rem-calc(15 38);
}

.content ol {
    list-style-type: none; 
    counter-reset: num;
}

.content ol li:before {
    content: counter(num) '. ';
    counter-increment: num;
    color: #077cce;
}

.content__important-text {
    font-weight: bold;
    background: #d0ecff;
    padding: rem-calc(36 38);
}

.content__image-right {
    float: right;
    margin-left: rem-calc(20);
}