@include breakpoint(small only) {
    .event {
        margin-top: rem-calc(20);
    }
}

.event__image {
    margin-top: rem-calc(10);
}

.event__title {
    font-weight: bold;
    font-size: rem-calc(20);
    line-height: 1.3;
}

.event__text {
    font-size: rem-calc(13);
}

.event__link {
    color: #444;
}

.event__link:hover {
    color: #433561;

    .news-date {
        color: #433561;
    }
}
