.footer {
    margin-top: 4rem;
    padding: rem-calc(40 0 20);
}

.footer__text {
    font-size: rem-calc(13);
    color: #8ca9b9;
}

@include breakpoint(small only) {
    .footer {
        text-align: center;
        margin-top: 1rem;
    }
    .footer__text_margin {
        margin-top: rem-calc(21);
    }
}