.gallery {
    margin-top: 2rem;
}

.content a.gallery__link {
    font-size: rem-calc(14);
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

.content a.gallery__link:hover {
    color: #077cce;
}

.gallery__block-date {
    margin-top: rem-calc(-55);
}

.content p.gallery__text {
    line-height: rem-calc(20);
    margin-top: rem-calc(22);
}

.gallery__play {
    color: white;
    font-size: 7px;
    position: relative;
    bottom: rem-calc(2);
    margin-right: .75rem;
}

@include breakpoint(small only) {

    .content p.gallery__text {
        margin-bottom: rem-calc(35);
    }

}