.menu-base {
  display: block;
  margin: 0;
  list-style-type: none;
  padding: 0;
  text-transform: uppercase;
  position: relative;
  right: 1rem;
  z-index: 100;
  font-weight: 500;
}

.menu-base__item {
  display: block;
  @include disable-mouse-outline;
  position: relative;
  padding-right: 1rem;

  & .menu-base {
    text-transform: none;
    font-weight: 400;
    display: none;
    position: absolute;
    padding: 1rem 0 1.5rem;
    top: 100%;
    left: 0;
    width: 18rem;
    background: #fff;
  }

  &:last-child .menu-base {
    left: auto;
    right: 1rem;
  }

  & .menu-base__item {
    padding: 0;
    width: 100%;
    padding: 0.4rem 1rem;

    & .menu-base__link {
      display: block;
      color: #2a2e36;
      font-size: rem-calc(14);
      border-bottom: 1px solid #e1e9ee;
      padding: rem-calc(4 14);
      &:after {
        display: none;
      }
      &:hover {
        color: #077cce;
      }
    }
  }
}

.menu-base__link {
  @include disable-mouse-outline;
  display: block;
  color: #fff;
  position: relative;
  font-size: rem-calc(15);
  padding: rem-calc(11);

  &:hover, &:focus {
    background: #fff;
    color: #077cce;
  }

}

@include breakpoint(medium up) {
  .menu-base__item {
    display: inline-block;
  }

  .menu-base__link {
    display: inline-block;
  }



  .menu-base__item {
    &:hover > .menu-base {
      display: block;
    }
    &:hover > .menu-base__link:after {
      width: 100%;
    }
  }
}

@include breakpoint(small only) {
  .menu-base {
    right: 0;
  }
  .menu-base__item {
    padding-right: 0;
  }
}

@media screen and (min-width: 960px) and (max-width: 1194px) {

  .menu-base__item {
    padding-right: 0;
  }

  .menu-base__link {
    font-size: rem-calc(12);
  }

  .menu-base__item:last-child .menu-base {
    right: 0;
  }

}