.menu-mobile {
    padding-right: rem-calc(51);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    
}

.menu-mobile__close {
    position: absolute;
    right: 0;
    z-index: 1000;
}



.menu-mobile__search {
    padding: rem-calc(25 15);
}

.menu-mobile__white {
    background: #fff;
    padding-bottom: rem-calc(26);
}

