.news-title {
    font-size: rem-calc(22);
    text-transform: uppercase;
    font-weight: bold;
    color: #2a2e36;
}

.news-title:after {
    content: url(../images/arrow-title.png);
    position: relative;
    top: rem-calc(3);
    left: rem-calc(8);
}

.news-title:hover:after {
    content: url(../images/arrow-title-hover.png);
}

.news-title__arrow {
    font-size: rem-calc(14);
    margin-left: rem-calc(5);
    color: #0f73b8;
}

.news-title__arrow:hover {
    color: #fff;
    background: #0f73b8;
}

.news-title:hover {
    .news-title__arrow {
        color: #fff;
        background: #0f73b8;
    }
}

@include breakpoint(small only) {
    .news-title {
        display: block;
        text-align: center;
    }
}