.read-arrow {
    color: #8198a5;
    background: #fff;
    padding: rem-calc(6 11);
    border-radius: 1rem;
    border: 1px solid #d0d9de;
}

.read-arrow:hover {
    color: #fff;
    background: #8198a5;
}