.search-results {
    background: #fff;
    border-bottom: 1px solid #f3f4f6;
}

.search-results__sort {
    font-size: rem-calc(13);
    margin-bottom: 0;
}

.search-results__button {
    padding: rem-calc(9 18);
    margin-left: rem-calc(6);
    margin-bottom: 0;
    font-size: rem-calc(13);
    background: #eff4f8;
    color: #000;
    border: 1px solid #bccfda;
}

.search-results__button_active {
    background: #1074b9;
    color: #fff;
    border: 1px solid #1074b9;
}

.search-results__nothing {
    font-size: rem-calc(19);
    margin-top: rem-calc(29);
}

.search-results__title {
    margin-top: rem-calc(30);
    margin-bottom: rem-calc(16);
}

.search-results__text {
    font-size: rem-calc(13);
    line-height: rem-calc(22);
    margin-bottom: rem-calc(12);
}

.search-results__word {
    background: #d0ecff;
    padding: rem-calc(2);
}

.search-results__link {
    font-size: rem-calc(12);
    color: #89959c;
    padding-left: rem-calc(9);
}

.search-results__arrow {
    padding-left: rem-calc(7);
    font-size: rem-calc(7);
    color: #89959c;
}

.search-results__title a {
    color: #000;
}

.search-results__title a:hover {
    color: #077cce;
}