.section-news p {
    font-size: rem-calc(13);
}

.section-news h3 {
    margin-bottom: rem-calc(15);
}

.section-news hr {
    margin-top: rem-calc(-5);
    margin-bottom: rem-calc(15);
}

.content a.section-news__link {
    color: #000;
    text-decoration: none;
}

.content a.section-news__link:hover {
    color: #433561;
}

.content.section-news {
    padding-bottom: 0;
}

.section-news__city {
    border: 1px solid #bbc8d0;
    margin-right: 6rem;
    padding-top: rem-calc(20);
    position: absolute;
    right: 0;
    background: #fff;
    width: rem-calc(185);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.content a.section-news__button {
    color: #fff;
    text-decoration: none;
    padding: rem-calc(11 37);
}

.section-news__checkbox {
    margin-bottom: 0;
}

.section-news__label {
    margin-bottom: rem-calc(16);
    line-height: 1.2;
}