.slider-for__text {
    position: absolute;
    z-index: 10;
    bottom: 0;
    color: #fff;
    padding: rem-calc(25);
    background: rgba(0,0,0,0.6);
    user-select: text;
    -webkit-user-select: text;
}

@include breakpoint(small only) {
    .slider-for__text {
        display: none;
    }
}