.slider-nav-modal {
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    width: 68%;
    height: rem-calc(88);
}

.slider-nav-modal__item {
    margin: rem-calc(0 5);
}

@include breakpoint(small only) {
    .slider-nav-modal {
        display: none;
    }
}