.slider-for-modal__text {
    color: #fff;
    margin-top: rem-calc(-10);
    user-select: text;
    -webkit-user-select: text;
}

.slider-for-modal__count {
    position: relative;
    bottom: rem-calc(23);
    background-color: #000;
    color: #fff;
    padding: rem-calc(4 13);
}