.subscribe {
    background: url(../i/subscribe-background-2.png) no-repeat;
    margin-top: rem-calc(20);
    padding: rem-calc(26 18);
}

.subscribe__title {
    color: #077cce;
    font-size: rem-calc(22);
    margin-bottom: 0;
    text-transform: uppercase;
}

.subscribe__subtitle {
    font-size: rem-calc(13);
    margin-top: rem-calc(-5);
    margin-bottom: rem-calc(25);
}

.subscribe__input {
    background: #fff;
    border-radius: 0;
    font-size: rem-calc(14);
    padding-left: rem-calc(20);
    height: rem-calc(36);
    margin-bottom: rem-calc(8);
}

.subscribe__input::-webkit-input-placeholder { color:#000000; opacity: 1; } /* webkit */
.subscribe__input::-moz-placeholder { color:#000000; opacity: 1; } /* Firefox 19+ */
.subscribe__input:-moz-placeholder {color: #000000; opacity: 1;} /* Firefox 18- */
.subscribe__input:-ms-input-placeholder {color: #000000; opacity: 1; } /* IE */

.subscribe__select:focus {
    background-color: #fff;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>");
}

.subscribe__select {
    font-size: rem-calc(14);
    height: rem-calc(36);
    border-radius: 0;
    padding-left: rem-calc(20);
}

.subscribe__button {
    background: #1074b9;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    margin: 0 auto;
    display: block;
    padding: rem-calc(12);
    border: 1px solid #1074b9;
}

.subscribe__button:hover, .subscribe__button:focus {
    color: #fff;
    background: #e91b27;
    outline: none;
    border: 1px solid #e91b27;
}

.subscribe__label {
    font-size: rem-calc(12);
    color: #617d8d;
}

.subscribe__label-2 {
    font-size: rem-calc(12);
    margin-top: rem-calc(7);
    line-height: rem-calc(15);
}

.subscribe__checkbox {
    margin-bottom: 0;
    display: none;
}

.subscribe__checkbox-custom {
    background: url(../images/checkbox.png) no-repeat;
    width: 18px;
    height: 18px;
    margin-right: 8px;
    float: left;
}

.subscribe__checkbox:checked + .subscribe__checkbox-custom {
    background: url(../images/checkbox-active.png) no-repeat;
}

.subscribe__text {
    float: right;
    width: rem-calc(215);
    margin-top: rem-calc(3);
}

.subscribe__link, .content a.subscribe__link {
    color: #000;
    text-decoration: underline;
}

.subscribe__link:hover, .content a.subscribe__link:hover {
    text-decoration: none;
    color: #077cce;
}

@media screen and (max-width: 319px) {

  .subscribe__text {
    width: rem-calc(190);
  }  

}