.new-tabs {
    position: relative;
    margin-top: rem-calc(56);
}

.new-tabs__label {
    color: #555;
    cursor: pointer;
    display: block;
    float: left;
    width: rem-calc(150);
    height: rem-calc(45);
    line-height: rem-calc(45);
    position: relative;
    top: rem-calc(2);
    text-align: center;
    font-size: rem-calc(15);
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #bccfda;
    background: #eff4f8;
}

.new-tabs input {
    display: none;
}

#tab-1:checked  ~ #label-1,
#tab-2:checked  ~ #label-2,
#tab-3:checked  ~ #label-3 {
    background: #fff;
    z-index: 3;
    border-top: 3px solid #1074b9;
    border-bottom: transparent;
}

[type='checkbox'] + label.new-tabs__label , [type='radio'] + label.new-tabs__label {
    margin-right: 0;
    margin-left: 0;
}

.new-tabs__content {
    background: #fff;
    position: relative;
    z-index: 2;
    padding-top: rem-calc(33);
    border-top: 1px solid #bccfda;
}

.new-tabs__content > div {
    position: absolute;
    left: rem-calc(-9999);
    top: 0;
    opacity: 0;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

#tab-1:checked ~ .new-tabs__content #content-1,
#tab-2:checked ~ .new-tabs__content #content-2,
#tab-3:checked ~ .new-tabs__content #content-3 {
    position: static;
    left: 0;
    opacity: 1;
}

.content p.new-tabs__pdf {
    font-size: rem-calc(13);
    font-weight: bold;
    color: #617d8d;
    margin-bottom: 0;
}

.new-tabs__block {
    border: 1px solid #e1e9ee;
    padding: rem-calc(20 25);
}