.video__item {
    height: rem-calc(221);
    width: rem-calc(348);
    display: block;
    text-align: center;
}

.video__image {
    position: relative;
    top: 40%;
}

@include breakpoint(small only) {

    .video__item {
        width: rem-calc(300);
    }

}