.video__item {
    height: rem-calc(221);
    width: 100%;
    display: block;
    text-align: center;
    background-size: cover !important;
}

.video__image {
    position: relative;
    top: 40%;
}

